@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

/* custom scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #cbf1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00aaa1;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #018d86;
}
/* custom scroll bar */

/* blog details page */
.blogDetails {
  @apply w-full overflow-x-auto pb-[1rem];
}

.blogDetails ul {
  display: block;
  margin-bottom: 0.2em;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  list-style: inside;
  padding-left: 5px;
}

.blogDetails ol {
  display: block;
  list-style-type: disc;
  margin-bottom: 0.2em;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  list-style-position: inside;
  padding-left: 5px;
}

.blogDetails h1 {
  @apply text-2xl font-semibold capitalize;
}

.blogDetails h2 {
  @apply text-lg font-semibold capitalize;
}

.blogDetails h3 {
  @apply text-base font-medium capitalize;
}

.blogDetails p {
  @apply text-[15px] font-normal;
}

.blogDetails img {
  @apply mt-3 h-[400px] max-h-max w-full rounded object-cover;
}

.blogDetails table {
  @apply my-3 w-full overflow-x-auto text-left text-sm text-gray-500 rtl:text-right;
}

.blogDetails table tbody tr:first-child {
  @apply font-bold uppercase;
}

.blogDetails table tbody tr {
  @apply border-b bg-gray-200 text-xs text-gray-700 odd:bg-white even:bg-gray-200 dark:border-gray-700 dark:bg-slate-800 dark:text-gray-200  dark:odd:bg-slate-800 dark:even:bg-gray-600;
}

.blogDetails table tbody tr td {
  @apply px-6 py-3;
}
